
<div class="container d-flex justify-content-center align-items-center gap-5">
  <!-- Card user -->
  <div class="w-40 card">
    <div class="upper">
      <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid" />
    </div>

    <div class="user text-center">
      <div class="profile">
        <img
          src="https://i.imgur.com/JgYD2nQ.jpg"
          class="rounded-circle"
          width="80"
        />
      </div>
    </div>

    <div class="mt-5 text-center">
      <h4 class="mt-3 mb-0">Benjamin Tims</h4>
      <span class="text-muted d-block mb-2">Los Angles</span>

      <button class="btn btn-primary btn-sm follow">Follow</button>

      <div class="row gx-5 gy-4 mt-4 px-4">
        <div class="stats col-4">
          <h6 class="mb-0">Followers</h6>
          <span>8,797</span>
        </div>

        <div class="stats col-4">
          <h6 class="mb-0">Projects</h6>
          <span>142</span>
        </div>

        <div class="stats col-4">
          <h6 class="mb-0">Ranks</h6>
          <span>129</span>
        </div>
        <div class="stats col-4">
          <h6 class="mb-0">Address</h6>
          <span>8,797</span>
        </div>

        <div class="stats col-4">
          <h6 class="mb-0">Email</h6>
          <span>142</span>
        </div>

        <div class="stats col-4">
          <h6 class="mb-0">Phone</h6>
          <span>129</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Table user -->
  <table class="w-50 table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < data.length; i++ ) { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= data[i].lastName %></td>
        <td><%= data[i].email %></td>
        <td>
          <a type="button" class="btn btn-success">Edit</a>
          <a
            href="/admin/delete-user/<%= data[i].id %> "
            type="button"
            class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

