<div
  class="modal fade"
  id="formEditModal"
  tabindex="-1"
  aria-labelledby="formEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form onsubmit="return false" id="formEdit">
        <div class="modal-header">
          <h5
            class="modal-title fs-2 fw-bolder text-success"
            id="formEditModalLabel"
          >
            Edit User
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="px-3 row g-4">
            <div class="col-6">
              <label for="firstName" class="form-label">First name</label>
              <input
                type="text"
                class="form-control"
                name="firstName"
                id="firstName"
                placeholder="Enter first name"
              />
            </div>
            <div class="col-6">
              <label for="lastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                name="lastName"
                id="lastName"
                placeholder="Enter last name"
              />
            </div>
            <div class="col-6">
              <label for="roleId" class="form-label">Role</label>
              <select class="form-select" name="roleId" id="roleId">
                <option value="" selected>Choose role...</option>
                <option value="admin">Admin</option>
                <option value="staff">Staff</option>
                <option value="customer">Customer</option>
              </select>
            </div>
            <div class="col-6">
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select" name="gender" id="gender">
                <option value="" selected>Choose gender...</option>
                <option value="true">Male</option>
                <option value="false">Female</option>
              </select>
            </div>
            <div class="col-6">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Enter email"
              />
            </div>
            <div class="col-6">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="Enter phone"
              />
            </div>
            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                name="address"
                id="address"
                placeholder="Enter address"
              />
            </div>
            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <div class="col-12">
              <label for="confirmPassword" class="form-label">
                Confirm Password
              </label>
              <input
                type="password"
                class="form-control"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="Enter confirm password"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success text-white">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
