<% if (isSuccess) { %>
<form
  class="profile-info row gx-5 gy-4"
  action="/profile/<%= data.id %>"
  method="POST"
>
  <div class="col-12 profile-input">
    <label for="oldPassword">Current Password</label>
    <input type="password" name="oldPassword" id="oldPassword" />
  </div>

  <div class="col-12 profile-input">
    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" id="newPassword" />
  </div>

  <div class="col-12 profile-input">
    <label for="oldPassword">Confirm Password</label>
    <input type="password" name="oldPassword" id="oldPassword" />
  </div>

  <div class="col-12 profile-checkbox">
    <input type="checkbox" id="showPassword" onclick="handleShowPassword()" />
    <label for="showPassword">Show Password</label>
  </div>

  <div class="col-12 profile-input">
    <button type="submit">Save change</button>
  </div>
</form>

<script>
  function handleShowPassword() {
    var listPassword = document.querySelectorAll(".profile-input input");
    listPassword.forEach((x) => {
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    });
  }
</script>
<% } %>
