<!-- Header Start -->
<div class="container-fluid bg-dark p-0 mb-5">
  <div class="row g-0 flex-column-reverse flex-lg-row">
    <div class="col-lg-6 p-0 wow fadeIn" data-wow-delay="0.1s">
      <div
        class="header-bg h-100 d-flex flex-column justify-content-center p-5"
      >
        <h1 class="display-4 text-light mb-5">
          Enjoy Wonderful Day With Your Family
        </h1>
        <div class="d-flex align-items-center pt-4 animated slideInDown">
          <a href="" class="btn btn-primary py-sm-3 px-3 px-sm-5 me-5"
            >Read More</a
          >
          <button
            type="button"
            class="btn-play"
            data-bs-toggle="modal"
            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
            data-bs-target="#videoModal"
          >
            <span></span>
          </button>
          <h6 class="text-white m-0 ms-4 d-none d-sm-block">Watch Video</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
      <div class="owl-carousel header-carousel">
        <div class="owl-carousel-item">
          <img class="img-fluid" src="/images/carousel-1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p><span class="text-primary me-2">#</span>Welcome To Zoofari</p>
        <h1 class="display-5 mb-4">
          Why You Should Visit
          <span class="text-primary">Zoofari</span> Park!
        </h1>
        <p class="mb-4">
          Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet
          est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy
          clita sit at, sed sit sanctus dolor eos.
        </p>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Free Car Parking
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Natural
          Environment
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Professional
          Guide & Security
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>World Best
          Animals
        </h5>
        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="img-border">
          <img class="img-fluid" src="/images/about.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div
  class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-4">
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.1s"
      >
        <i class="fa fa-paw fa-3x text-primary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
        <p class="text-white mb-0">Total Animal</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.3s"
      >
        <i class="fa fa-users fa-3x text-primary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
        <p class="text-white mb-0">Daily Vigitors</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.5s"
      >
        <i class="fa fa-certificate fa-3x text-primary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
        <p class="text-white mb-0">Total Membership</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.7s"
      >
        <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
        <p class="text-white mb-0">Save Wild Life</p>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->

<!-- Animal Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="row g-5 mb-5 align-items-end wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="col-lg-6">
        <p><span class="text-primary me-2">#</span>Our Animals</p>
        <h1 class="display-5 mb-0">
          Let`s See Our <span class="text-primary">Zoofari</span> Awsome Animals
        </h1>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a class="btn btn-primary py-3 px-5" href="">Explore More Animals</a>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-md-1.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-md-1.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-lg-1.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-lg-1.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-lg-2.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-lg-2.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-md-2.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-md-2.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-md-3.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-md-3.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="img/animal-lg-3.jpg"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="/images/animal-lg-3.jpg" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Animal End -->

<script>
  var client = require("http");
  let accessToken = "<%= accessToken %>"
    ? "<%= accessToken %>"
    : localStorage.getItem("accessToken");
  let userId = "<%= userId %>";
  
  console.log("accessToken", localStorage.getItem("accessToken"));
  if (accessToken) localStorage.setItem("accessToken", accessToken);
  localStorage.setItem("userId", userId);
  
  var header = { Host: "localhost:3000", Authorization: accessToken };
  var request = client.request("GET", "/", header);
</script>
