<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.png" />
    <title>Forgot Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- jQuery library -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Popper JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/auth/login-register.css" />
  </head>
  <body>
    <div class="container">
      <div class="blueBg"></div>

      <div class="formBx">
        <div class="form signinForm">
          <h3>Forgot Password</h3>
          <div class="form-custom">
            <input
              class="mb-3"
              id="otp"
              type="text"
              name="otp"
              placeholder="Enter your OTP"
            />
            <div id="alert-otp" class="d-none alert alert-danger" role="alert">
              OTP is not incorrect
            </div>
            <input id="submitOtp" type="submit" value="Submit" />
          </div>
        </div>
        <script>
          const formBx = document.querySelector(".formBx");
          const alertOtp = document.getElementById("alert-otp");
          const body = document.querySelector("body");

          var submitOtp = document.getElementById("submitOtp");
          submitOtp.addEventListener("click", handleFinish);

          function handleFinish() {
            let otpForm = document.getElementById("otp").value;
            if ("<%= otp %>" !== "" && otpForm === "<%= otp %>") {
              formBx.classList.add("active");
              body.classList.add("active");
            } else {
              alertOtp.classList.remove("d-none");
              alertOtp.classList.add("d-block");
            }
          }
        </script>

        <div class="form signupForm">
          <h3>Change Password</h3>
          <form action="/post-forgot-password" method="POST">
            <div class="grid-container"></div>
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <input
              type="password"
              placeholder="Confirm Password"
              name="confirmPassword"
              required
            />
            <input type="text" name="email" value="<%= email %> " hidden />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <!-- <script>
      const submitBtn = document.querySelector(".submitBtn");
      const formBx = document.querySelector(".formBx");
      const body = document.querySelector("body");

      submitBtn.onclick = () => {
        formBx.classList.add("active");
        body.classList.add("active");
      };
    </script> -->
  </body>
</html>
