<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.png" />
    <title>Auth</title>
    <link rel="stylesheet" href="/css/auth/login-register.css" />
  </head>
  <body>
    <div class="container">
      <div class="blueBg"></div>

      <div class="formBx">
        <div class="form signinForm">
          <h3>Forgot Password</h3>
          <form action="#">
            <input
              type="text"
              placeholder="Enter your OTP"
              name="otp"
              value="<%= otp %>"
            />
            <input class="submitBtn" type="submit" value="Submit" />
          </form>
        </div>

        <div class="form signupForm">
          <h3>Change Password</h3>
          <form action="#">
            <div class="grid-container"></div>
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <input
              type="password"
              placeholder="Confirm Password"
              name="confirmPassword"
              required
            />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <script>
      const submitBtn = document.querySelector(".submitBtn");
      const formBx = document.querySelector(".formBx");
      const body = document.querySelector("body");

      submitBtn.onclick = () => {
        formBx.classList.add("active");
        body.classList.add("active");
      };
    </script>
  </body>
</html>
